.featureList {
  margin-bottom: 30px;
  margin-top: 30px;
}

.featureScroll {
  position: relative;
}

.featureScroll .scrollHeading {
  font-family: 'Libre Barcode 39 Text', sans-serif;
  color: #01FFC4;
  position: absolute;
  font-size: 200%;
  padding-left: 20px;
  top: 0;
  left: 5%;
  z-index: 102;
}