#reviewFormBackground {
  position: fixed;
  z-index: 4;
  top: 0;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -ms-filter: blur(4px);
  -o-filter: blur(4px);
  filter: blur(4px);
  width: 100vw;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.7);
}

.reviewForm {
  position: fixed;
  z-index: 5;
  width: 90vw;
  height: 75vh;
  top: 20vh;
  left: 50%;
  margin-left: -45vw;
}

#authForm {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 300px;
}

#authForm div {
  margin: 0 auto;
}

.formClose {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.formClose button {
  width: 30px !important;
  height: 30px !important;
}

.formClose button div, .formClose svg {
  height: 30px !important;
}

#authorAuthForm {
  top: 40vh;
  width: 400px;
  height: 500px;
  margin-left: -200px;
}

.card {
  height: 100%;
}

#authorAuthForm .card {
  height: 200px;
}

/*@media(max-width: 700px) {
  .reviewForm {
    width: 90vw;
    margin-left: -45vw;
  }
}*/
