.reviewCard {
  position: relative;
  margin: auto;
  margin-bottom: 50px;
  width: 600px;
  height: auto;
}

.movieTitle span {
  font-family: 'Ultra', serif;
  font-size: 25px !important;
}

.reviewContent {
  position: relative;
}

.reviewMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 40px;
  width: 40%;
  margin: 0 auto;
  padding-top: 20px;
}

.reviewContent .reviewMenuBttn {
  width: 30px !important;
  height: 30px !important;
  padding: 0 !important;
  margin: 0 15px !important;
}

.reviewMenuBttn div svg {
  height: 25px !important;
  width: 25px !important;
  color: #D44D97 !important;
}

.reviewCard.selected {
  height: auto;
  width: 800px;
  z-index: 2 !important;
}

.reviewList {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.reviewList .reviewContainer {
  position: relative;
  cursor: pointer;
  z-index: 3 !important;
  width: 80%;
  margin: 30px auto;
  height: auto;
  transition: 1s ease-in-out;
}

.reviewList .reviewContainer.selected {
  position: absolute;
  z-index: 4 !important;
  width: 100%;
  margin: 50px auto;
  padding-bottom: 100px;
  box-shadow: none !important;
  transition: 1s ease-in-out;
}

.headingContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.headingContainer .authorAvatar {
  position: relative;
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 0;
}

.reviewHeading {
  text-align: left !important;
  padding-top: 50px !important;
  padding-bottom: 0;
}

.reviewHeading div span {
  font-size: 20px !important;
}

.reviewHeading div {
  padding: 0 !important;
}

.reviewTxt {
  text-align: left;
  padding: 16px 35px 16px 35px !important;
}

.reviewTxt h2 {
  font-family: 'Saira',  sans-serif;
  font-weight: 400;
  border-bottom: thin solid #D25196;
  width: 50%;
  margin: 30px 0;
}

.reviewTxt p {
  font-size: 18px;
  line-height: 27px;
}

.imageViewer {
  width: 90%;
  margin: 0 auto;
  padding: 0 5px;
  background-color: #E1E2E5;
}

.reviewImg {
  position: relative;
  width: 100%;
  margin: 5px 0;
  margin-left: 50%;
  left: -50%;
  float: left;
}

.reviewImg-credit {
  font-size: 75% !important;
  line-height: 20px !important;
}

.reviewImg-description {
  text-align: center;
}

@media(max-width: 800px) {
  .reviewCard {
    width: 70vw;
    height: auto;
  }

  .reviewCard.selected {
    width: 100vw;
    height: auto;
  }

  .movieTitle {
    padding: 5px !important;
  }

  .movieTitle span {
    font-size: 20px !important;
  }
}

@media(max-width: 400px) {
  .reviewContainer.selected div .headingContainer .authorAvatar {
    margin-top: 10%;
  }

  .headingContainer .authorAvatar {
    margin-top: 20%;
    margin-left: 20px;
  }
}

@media(max-width: 350px) {
  .reviewCard {
    width: 100vw;
  }

  .reviewCard.selected {
    width: 100vw;
  }

  .movieTitle span {
    font-size: 17px !important;
  }
}

@media(max-width: 325px) {
  .reviewImg {
    margin: 5px 1px;
  }
}
