.reviewCard {
  position: relative;
  margin: auto;
  margin-bottom: 50px;
  width: 600px;
  height: auto;
}

.movieTitle span {
  font-family: 'Ultra', serif;
  font-size: 25px !important;
}

.reviewContent {
  position: relative;
}

.reviewContent .closeCard {
  margin-right: 90% !important;
}

.reviewCard.selected {
  height: auto;
  width: 800px;
  z-index: 2 !important;
}

.reviewList {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.reviewList .reviewContainer {
  position: relative;
  cursor: pointer;
  z-index: 3 !important;
  width: 80%;
  margin: 30px auto;
  transition: 1s ease-in-out;
}

.reviewList .reviewContainer.selected {
  position: absolute;
  z-index: 4 !important;
  width: 100%;
  margin: 40px auto;
  padding-bottom: 100px;
  box-shadow: none !important;
  transition: 1s ease-in-out;
}

.reviewHeading {
  text-align: center;
  padding-top: 50px !important;
}

.reviewHeading div span {
  font-size: 20px !important;
}

.reviewHeading div {
  padding: 0 !important;
}

.reviewTxt {
  text-align: left;
}

.reviewTxt p {
  font-size: 17px !important;
  line-height: 25px !important;
}

p img {
  max-width: 500px;
  margin: 10px 10px;
}

p img:nth-of-type(even) {
  float: right;
  clear: right;
}

p img:nth-of-type(odd) {
  float: left;
  clear: left;
}

@media(max-width: 800px) {
  .reviewCard {
    width: 70vw;
    height: auto;
  }

  .selected {
    width: 100vw;
    height: auto;
  }

  .movieTitle {
    padding: 5px !important;
  }

  .movieTitle span {
    font-size: 20px !important;
  }

  p img {
    max-width: 300px;
    max-height: 200px;
  }
}

@media(max-width: 350px) {
  .reviewCard {
    width: 100vw;
  }

  .selected {
    width: 100vw;
  }

  .movieTitle span {
    font-size: 17px !important;
  }
}

@media(max-width: 325px) {
  p img {
    margin: 2px 2px 2px 0;
  }
}
