.reviewCard {
  position: relative;
  z-index: 1 !important;
  margin: auto;
  margin-bottom: 50px;
  width: 600px;
  height: auto;
}

.movieTitle span {
  font-family: 'Ultra', serif;
  font-size: 25px !important;
}

.reviewContent {
  position: relative;
}

.selected {
  height: auto;
  width: 800px;
}

.reviewHeading {
  text-align: center;
  padding-top: 50px !important;
}

.reviewHeading div span {
  font-size: 20px !important;
}

.reviewHeading div {
  padding: 0 !important;
}

.reviewTxt {
  text-align: left;
}

.reviewTxt p {
  font-size: 17px !important;
  line-height: 25px !important;
}

@media(max-width: 800px) {
  .reviewCard {
    width: 70vw;
    height: auto;
  }

  .selected {
    width: 100vw;
    height: auto;
  }

  .movieTitle {
    padding: 5px !important;
  }

  .movieTitle span {
    font-size: 20px !important;
  }
}

@media(max-width: 350px) {
  .reviewCard {
    width: 100vw;
  }

  .selected {
    width: 100vw;
  }

  .movieTitle span {
    font-size: 17px !important;
  }
}
