.movie-list {
  position: relative;
  width: 100vw;
}

#bottom-margin {
  height: 100px;
}

.movie-list ul {
  position: relative;
  left: 0;
  list-style-type: none;
  padding: 0;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.movie-list li {
  margin: 0 100px;
  width: 700px;
}

@media(max-width: 700px) {
  .movie-list {
    margin-top: 50px;
  }

  .movie-list li {
    width: 100vw;
  }
}
