.movie-list {
  position: relative;
  width: 100vw;
}

.bottom-margin {
  height: 100px;
}

.movie-list ul {
  position: relative;
  left: 0;
  list-style-type: none;
  padding: 0;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.movie-list li {
  margin: 0 100px;
  width: 700px;
}

.movieSearchInput {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 300px;
  background: none;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  border: none;
  border-bottom: thin solid #01FFC4;
  box-shadow: 0 4px 2px -2px gray;
  justify-content: center;
}

.movieSearchInput label {
  padding-left: 5px;
}
.movieSearchInput input {
  width: auto;
  background: none;
  border: none;
  outline: none;
  font-size: 20px;
}

@media(max-width: 700px) {
  .movie-list {
    margin-top: 30px;
  }

  .movie-list li {
    width: 100vw;
  }
}
