.movie-list {
  position: relative;
  width: 100vw;
}

.bottom-margin {
  height: 100px;
}

.movie-list ul {
  position: relative;
  left: 0;
  list-style-type: none;
  padding: 0;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.movie-list li {
  margin: 0 100px;
  width: 700px;
}

.movieSearchInput {
  margin: 5px auto;
  width: 600px;
  font-family: 'VT323', cursive;
  font-size: 30px;
  border: thin solid #FF69B4;
  border-radius: 5px 5px 5px 5px;
  background: rgba(245,245,245, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.movieSearchInput label {
  padding-left: 5px;
}
.movieSearchInput input {
  width: 400px;
  background: none;
  border: none;
  outline: none;
  font-size: 30px;
  font-family: 'VT323', cursive;
}

@media(max-width: 700px) {
  .movie-list {
    margin-top: 30px;
  }

  .movie-list li {
    width: 100vw;
  }

  .movieSearchInput {
    font-size: 20px;
    width: auto;
    margin: 5px 10px 5px 10px;
  }

  .movieSearchInput input {
    font-size: 20px;
    width: 150px;
  }
}
