body{
  background-color: #A1EEF9;
}

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.App-intro {
  font-size: large;
}

p {
  font-family: 'Roboto', sans-serif;
}

.reviewHeading {
  font-family: 'Saira', sans-serif;
  font-weight: 900 !important;
}

.reviewHeading span:nth-child(2) {
  font-weight: 600 !important;
}

p {
  font-size: 16px;
  line-height: 20px;
}

#heading {
  position: relative;
  height: 20vh;
  width: 100vw;
  margin-bottom: 30px;
  color: #949494;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(#ffffff, #A1EEF9);
}

#welcomeImg {
  position: absolute;
  z-index: 0;
  width: 400px;
  left: 50%;
  top: -70px;
  margin-left: -200px;
  opacity: 0.5;
}

#mainHeading {
  z-index: 1;
  font-size: 70px;
  font-family: 'Bungee Shade', cursive;
  color: #ff69b4;
}

#mainSubtitle {
  z-index: 1;
  margin: 0;
  font-size: 30px;
  font-family: 'VT323', cursive;
  color: #2f4f4f;
}

#addReviewBttn {
  position: absolute !important;
  z-index: 0 !important;
  bottom: 50px;
  right: 20px;
}

@media(max-width: 700px) {
  #mainHeading {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 30px;
  }

  #mainSubtitle {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }

  #addReviewBttn {
    position: inherit !important;
  }

  #welcomeImg {
    width: 100vw;
    margin-left: -50vw;
  }
}

@media(max-width: 350px) {
  #heading {
    height: 25vh;
  }
}
