body {
  height: 100vh;
  background-color: #A1EEF9;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

#heading {
  position: relative;
  height: 40vh;
  width: 100vw;
  color: #949494;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(#ffffff, #A1EEF9);
}

#welcomeImg {
  position: absolute;
  z-index: 0;
  width: 400px;
  left: 50%;
  top: 0;
  margin-left: -200px;
  opacity: 0.5;
}

#movieList {
  list-style-type: none;
  padding: 0;
}

#movieList li {
  margin: 0 auto;
  width: 700px;
}

#mainHeading {
  z-index: 1;
  font-size: 70px;
  font-family: 'Bungee Shade', cursive;
  color: #ff69b4;
}

#mainSubtitle {
  z-index: 1;
  font-size: 30px;
  font-family: 'VT323', cursive;
  color: #2f4f4f;
}

p, h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

@media(max-width: 700px) {
  #mainHeading {
    margin-top: 100px;
    font-size: 50px;
  }

  #mainSubtitle {
    margin-top: 0;
  }

  #movieList li {
    width: 100vw;
  }
}
