body{
  background-color: #D3D3D3;
}

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.reviewHeading {
  font-family: 'Saira', sans-serif;
  font-weight: 900 !important;
}

.reviewHeading span:nth-child(2) {
  font-weight: 600 !important;
}

p {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

#heading {
  position: relative;
  height: 25vh;
  width: 100vw;
  padding-top: 20px;
  color: #949494;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(#D74898, #01FFC4);
  box-shadow: 5px 5px 10px #888888;
}
@media(max-height: 920px) {
  #heading {
    height: 250px;
  }
}

#welcomeImg {
  position: absolute;
  z-index: 0;
  width: 400px;
  left: 50%;
  top: -70px;
  margin-left: -200px;
  opacity: 0.5;
}

#logoImg {
  height: 125px;
}

#mainHeading {
  z-index: 1;
  font-size: 70px;
  font-family: 'Bungee Shade', sans-serif;
  color: #ff69b4;
}

#mainSubtitle {
  z-index: 1;
  margin: 20px 0;
  font-size: 50px;
  font-family: 'Libre Barcode 39 Text', sans-serif;
  color: #2f4f4f;
}

#addReviewBttn {
  position: absolute !important;
  z-index: 0 !important;
  bottom: 50px;
  right: 20px;
}

@media(max-width: 1100px) {
  #mainHeading {
    font-size: 45px;
  }
}

@media(max-width: 700px) {
  #mainHeading {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 30px;
  }

  #logoImg {
    height: 80px;
  }

  #addReviewBttn {
    position: inherit !important;
  }

  #welcomeImg {
    width: 100vw;
    margin-left: -50vw;
  }
}

@media(max-width: 350px) {
  #heading {
    height: 25vh;
  }
}
